.logoImg {
   margin-right: 3px;
   margin-bottom: 3px;
   width: 15px;
   height: 15px;
}

.container-fluid.mainTable.px-5.py-3 > .hide {
    display: none;
}

.printModule{
    background-color: #ffffff !important;
}

.printModule > .row > h1 {
    color: #182850 !important;
}

.printModule > .row > h4,
.printModule > table > thead > tr > th,
.printModule > table > thead > tr > td,
.printModule > table > thead > tr > th > h4,
.printModule > table > thead > tr > th > h5,
.printModule > table > tbody > td,
.printModule > table > tbody > tr > td {
    color: #212121 !important;
}
