<app-sidenav></app-sidenav>

<div class="mainContent">
   <h1 style="padding: 15px 32px; height: 8%;"> Feedback </h1>

   <div class="lowerMainContent">

      <div class="mx-5 py-3">

        <div class="row" style="margin: 20px 0;">
            <div class="col-8 d-flex justify-content-start">
              <div class="d-flex justify-content-start">
                <div style="padding-right: 30px;">
                  <a class="subCategory" [ngClass]="{'subCategoryActive': activeSubcategory === 'All'}" (click)="setSubCategory('All')">
                    <h3 class="subCategoryTitle"> All </h3>
                  </a>
                </div>
                <div style="padding-right: 30px;">
                  <a class="subCategory" [ngClass]="{'subCategoryActive': activeSubcategory === 'Pending'}" (click)="setSubCategory('Pending')">
                    <h3 class="subCategoryTitle"> Pending </h3>
                  </a>
                </div>
                <div style="padding-right: 30px;">
                  <a class="subCategory" [ngClass]="{'subCategoryActive': activeSubcategory === 'Approved'}" (click)="setSubCategory('Approved')">
                    <h3 class="subCategoryTitle"> Approved </h3>
                  </a>
                </div>
                <div style="padding-right: 30px;">
                  <a class="subCategory" [ngClass]="{'subCategoryActive': activeSubcategory === 'Returned'}" (click)="setSubCategory('Returned')">
                    <h3 class="subCategoryTitle"> For Revision </h3>
                  </a>
                </div>
              </div>
            </div>
          </div>

         <!-- Table for displaying the list of users -->
         <div *ngIf="isTableSubmittedVisible">
            <div class="container-fluid mainTable px-5 py-3">
                <!-- The content of this table is initialized in vote.component.ts setDataTable() -->
               <table id="voteTable" class="table text-center"></table>
            </div>
         </div>
      </div>
   </div>
</div>