<div class="container">
    <h1>Curriculum Feedbacks</h1>

    <!-- List of Curriculums from the Database -->
    <!-- For Stakeholder User Type Only -->
    <h3 *ngIf="tempUserType === 'stakeholder'">Submitted Curriculums for STAKEHOLDERS</h3>
    <table class="table" *ngIf="tempUserType === 'stakeholder'">
        <thead>
            <tr>
                <th>Department</th>
                <th>Version</th>
                <th>Submission Date</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let curriculum of curriculums">
                <td> {{ curriculum.department }} </td>
                <td> {{ curriculum.version }} </td>
                <td> {{ curriculum.date_and_time }} </td>
                <td> {{ curriculum.curr_status | titlecase }} </td>
                <td> <button routerLink="/feedback/{{curriculum.id}}">View</button> </td>
            </tr>
        </tbody>
    </table>

    <!-- List of Curriculums from the Database -->
    <!-- For Admin User Type Only -->
    <h3 *ngIf="tempUserType !== 'stakeholder'">Submitted Curriculums for ADMIN</h3>
    <table class="table" *ngIf="tempUserType !== 'stakeholder'">
        <thead>
            <tr>
                <th>Department</th>
                <th>Version</th>
                <th>Submission Date</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let curriculum of curriculums">
                <td> {{ curriculum.department }} </td>
                <td> {{ curriculum.version }} </td>
                <td> {{ curriculum.date_and_time }} </td>
                <td> {{ curriculum.curr_status | titlecase }} </td>
                <td>
                    <button routerLink="/status/{{curriculum.id}}">
                        View Status
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>