<div class="loginBg" style="background-image: url('{{assetsUrl}}/images/loginBg_rev.png');">
  <div class="d-inline-flex p-5 bd-highlight bg-white formHeight">
    <div class="container-fluid my-5">

      <div class="d-flex flex-row my-3">
        <img class="logoImg " src="./assets/images/logoBSU.png" alt="BULSU LOGO">
        <img class="logoImg" src="./assets/images/logoCICT.png" alt="CICT LOGO">
      </div>

      <h1 class="my-1">CurrMaSys</h1>
      <h5> <strong> College of Information and Communications Technology </strong>
        <br> Curriculum Management System
      </h5>

      <!-- formGroup - based from the form @ the Component -->
      <!-- ngSubmit - to call the function when the button is submitted in this formGroup -->
      <form class="mt-4" [formGroup]="loginForm" (ngSubmit)="loginUser(loginForm)">

        <!-- ERROR TRACING -->
        <div class="error" *ngIf="isLoginFailed">
          <div class="d-flex flex-row bd-highlight mb-1" *ngIf="isFormSubmitted && isLoginFailed ">
            <div class="bd-highlight"><img src="./assets/images/icon_danger.png"
                style="width: 25px; height: 25px; margin-right: 5px;" alt="WARNING"></div>
            <div class="bd-highlight">
              <h5><strong>{{ message }}</strong></h5>
            </div>
          </div>
        </div>

        <div class="form-group  mb-2">
          <label for="email">Email</label>
          <!-- formControlName - must be assigned same in the Component -->
          <input type="text" formControlName="email" class="form-control" placeholder="Email" id="email" value=""
            [class.invalid]="email?.hasError('required') && (email?.dirty || email?.touched || isFormSubmitted) || (email?.hasError('email') && isFormSubmitted)">
          <!-- Scuffed and fast method of displaying errors -->

          <div class="error" *ngIf="email?.hasError('required') && (email?.dirty || email?.touched || isFormSubmitted)">
            This field is required.
          </div>

          <div class="error" *ngIf="email?.hasError('email') && email?.dirty && isFormSubmitted">
            Invalid email format
          </div>
        </div>

        <div class="form-group mb-3">
          <label for="password">Password</label>
          <!-- formControlName - must be assigned same in the Component -->
          <input type="password" formControlName="password" class="form-control" placeholder="Password" id="password"
            [class.invalid]="password?.hasError('required') && (password?.dirty || password?.touched || isFormSubmitted)">
          <div class="error"
            *ngIf="password?.hasError('required') && (password?.dirty || password?.touched || isFormSubmitted)">
            This field is required.
          </div>
        </div>


        <br>
        <button class="btn btn-primary mt-2 mb-2 w-100">Login</button>


      </form>
      <button class="btn p-0" routerLink="/forgot-password">
        Forgot password?
      </button>
    </div>
  </div>
</div>