<div class="container">
    <h1>Login Page</h1>
    <!-- formGroup - based from the form @ the Component -->
    <!-- ngSubmit - to call the function when the button is submitted in this formGroup -->
    <form [formGroup]="loginForm" (ngSubmit)="loginUser(loginForm)">
        <div class="form-group">
            <label for="email">Email</label>
            <!-- formControlName - must be assigned same in the Component -->
            <input type="text" formControlName="email" class="form-control" placeholder="Email" id="email" value="">
            <!-- Scuffed and fast method of displaying errors -->
            <div class="error" *ngIf="email?.invalid && isFormSubmitted">
                Invalid Email format
            </div>
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <!-- formControlName - must be assigned same in the Component -->
            <input type="password" formControlName="password" class="form-control" placeholder="Password" id="password">
        </div>

        <button class="btn btn-primary">Login</button>

        <div class="error" *ngIf="isLoginFailed">
            <h3>{{ message }}</h3>
        </div>
    </form>
    <button class="btn" routerLink="/forgot-password">
        Forgot password?
    </button>
</div>
