<app-sidenav></app-sidenav>

<div class="mainContent">
  <h1 style="padding: 15px 32px; height: 8vh;"> Add Curriculum </h1>

  <div class="lowerMainContent">
    <div class="mx-5 py-3">
      <form class="form-group" [formGroup]="curriculumForm" (ngSubmit)="addCurriculum(curriculumForm)">
        <input class="form-control" formControlName="department" placeholder="Department" />
        <input class="form-control" formControlName="version" placeholder="version" />
        <br/>
        <div *ngFor="let subjects of subjectsArray" formArrayName="{{subjects['form']}}">
          <table class="table-bordered">
            <tr><th colspan="7">{{subjects['yearTitle']}} YEAR - {{subjects['semTitle']}} SEMESTER</th></tr>
            <tr><th colspan="2"><button (click)="addNewSubject(subjects['array'])">Add Subject</button></th></tr>
            <tr *ngIf="subjects['array'].value.length">
              <th>COURSE</th>
              <th>LEC UNITS</th>
              <th>LAB UNITS</th>
              <th>TOTAL UNITS</th>
              <th>HOURS PER WEEK</th>
              <th>PREREQ.</th>
              <th>CO-REQ.</th>
              <th>Action</th>
            </tr>
            <tr *ngFor="let x of subjects['array'].controls; let i = index;" [formGroupName]="i">
              <td>
                <select class="form-control" formControlName="course">
                  <option value="" selected="true"> Select Course </option>
                  <option *ngFor="let subject of subjectsList" [value]="subject.id">{{ subject.course_code }} - {{ subject.title }}</option>
                </select>
              </td>
              <td>
                <input class="form-control" (change)="getTotalUnits(i, subjects['array'])" type="number" min="0" max="3" formControlName="lec_units" />
              </td>
              <td>
                <input class="form-control" (change)="getTotalUnits(i, subjects['array'])" type="number" min="0" max="3" formControlName="lab_units"/>
              </td>
              <td>
                <input class="form-control" type="number" min="0" max="5" formControlName="total_units" readonly
                 [class.invalid]="subjects['array'].at(i).get('total_units').value > 5"/>
                 <p *ngIf="subjects['array'].at(i).get('total_units').value > 5">Max of 5 only</p>
              </td>
              <td>
                <input class="form-control" type="number" min="0" max="99" formControlName="hrs"/>
              </td>
              <td>
                <select class="form-control" formControlName="pre_req" multiple>
                  <option *ngFor="let subject of subjectsList" [value]="subject.course_code">{{ subject.course_code }}</option>
                </select>
              </td>
              <td>
                <select class="form-control" formControlName="co_req" multiple>
                  <option *ngFor="let subject of subjectsList" [value]="subject.course_code">{{ subject.course_code }}</option>
                </select>
              </td>
              <td>
                <button (click)="deleteSubject(i,subjects['array'])">Delete Subject</button>
              </td>
            </tr>
          </table>
        </div>
        <div class="d-flex justify-content-end" style="margin: 5px 0;">
          <button class="btn btn-primary">Add</button>
        </div>
      </form>

      <b>Form's Value:</b>
      {{ curriculumForm.value | json }}
      <br />
      <b>Form is Valid ? :</b>
      {{ curriculumForm.valid }}

    </div>
  </div>

</div>
