.logoImg {
  margin-right: 3px;
  margin-bottom: 3px;
  width: 15px;
  height: 15px;
}

.invalid {
  color: #ee404c;
  font-weight: bold;
  /* border: 1px solid #ee404c; */
}

.maxInvalid{
  color: #ee404c !important;
}


