<app-sidenav></app-sidenav>

<div class="mainContent">
    <h1 style="padding: 15px 32px; height: 8%;"> Subjects </h1>

    <div class="lowerMainContent">

        <div class="mx-5 py-3">


            <div *ngIf="isTableVisible" class="row" style="margin: 20px 0;">

                <div class="col-8 d-flex justify-content-start">

                    <div class="d-flex justify-content-start">
                        <div style="padding-right: 30px;"> <a class="subCategory" routerLink="/subject">
                                <h3 class="subCategoryTitle"> Base </h3>
                            </a></div>
                        <div style="padding-right: 30px;"> <a class="subCategory subCategoryActive"
                                routerLink="/elective">
                                <h3 class="subCategoryTitle"> Elective </h3>
                            </a></div>
                    </div>
                </div>

                <div class="col-4 d-flex justify-content-end">
                    <button (click)="onAdd()" type="button" class="btn btn-primary">
                        <img src="./assets/images/icon_add.png" style="width: 20px; height: 20px; margin-bottom: 2px;"
                            alt="Plus Button">
                        <span> &nbsp; <strong> ADD </strong> &nbsp;&nbsp; </span>
                    </button>
                </div>
            </div>

            <div *ngIf="isAddFormVisible" class="d-flex justify-content-start" style="margin: 10px 0;">
                <button (click)="onAdd()" type="button" class="btn p-0">
                    <img class="logoImg " src="./assets/images/icon_back_btn.png" alt="BACK BUTTON">
                    <strong class="go_back"> GO BACK </strong>
                </button>
            </div>


            <div *ngIf="isTableVisible">
                <!-- Preferred Display of Elective Subjects -->
                <!-- Issue: If multiple elective subjects has the same fk_subj_id the older object will be overwritten -->
                <div class="container-fluid mainTable px-4 py-3">
                    <table class="table text-center" id="electivesTable">
                        <thead>
                            <tr>
                                <th>Subject</th>
                                <th>
                                    Service Management Specialization Track
                                </th>
                                <th>
                                    Business Analytics Specialization Track
                                </th>
                                <th>
                                    Web and Mobile Development Specialization Track
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            <!-- Related to the displaySubjects and transformArray function -->
                            <tr *ngFor="let elective of newElectives">
                                <td> {{ elective.title }} </td>
                                <td>
                                    <!-- To access the specific page using ID -->
                                    <a routerLink="/elective-edit/{{elective.SMID}}">
                                        {{ elective.SM }}
                                    </a>
                                </td>
                                <td>
                                    <a routerLink="/elective-edit/{{elective.BAID}}">
                                        {{ elective.BA }}
                                    </a>
                                </td>
                                <td>
                                    <a routerLink="/elective-edit/{{elective.WEBID}}">
                                        {{ elective.WEB }}
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>

            <div *ngIf="isAddFormVisible" class="addForm p-5">
                <h2 style="margin-bottom: 10px;"> Add Specialization Track </h2>

                <form [formGroup]="addEleForm" (ngSubmit)="addElectives()">

                    <div class="my-4">
                        <!-- Related to the getSubject function -->
                        <label for="subject">Choose Subject Title &nbsp;&nbsp;&nbsp;</label>
                        <select style="padding: 5px;" name="subject" class="form-select" id="subject" formControlName="fkSubjID"
                            [class.invalid]="addEleForm.get('fkSubjID')?.hasError('required') && (addEleForm.get('fkSubjID')?.dirty || addEleForm.get('el2Data.title')?.touched || isFormSubmitted)">
                            <option value="{{ subject.id }}" *ngFor="let subject of subjects">
                                {{ subject.title }}
                            </option>
                        </select>
                        <div class="error"
                            *ngIf="addEleForm.get('fkSubjID')?.hasError('required') && (addEleForm.get('fkSubjID')?.dirty || addEleForm.get('fkSubjID')?.touched || isFormSubmitted)">
                            Choose a subject title.
                        </div>
                    </div>

                    <hr>

                    <!-- Formgroup for el1Data on addEleForm -->
                    <div class="form-group pb-3" formGroupName="el1Data">
                        <h5 style="margin-top: 10px;"> <strong> For Service Management Specialization Track: </strong>
                        </h5>
                        <label for="el-title1">Title</label>
                        <input type="text" formControlName="title" class="form-control" id="el-title1"
                            placeholder="Input Title"
                            [class.invalid]="addEleForm.get('el1Data.title')?.hasError('required') && (addEleForm.get('el1Data.title')?.dirty || addEleForm.get('el1Data.title')?.touched || isFormSubmitted)">
                        <div class="error"
                            *ngIf="addEleForm.get('el1Data.title')?.hasError('required') && (addEleForm.get('el1Data.title')?.dirty || addEleForm.get('el1Data.title')?.touched || isFormSubmitted)">
                            This field is required.
                        </div>

                        <div class="my-2">
                            <label for="el-syllabus1">Syllabus</label> <br>
                            <input type="File" formControlName="syllabus" id="el-syllabus1" name="el-syllabus1"
                                class="form-control" accept=".pdf" (change)="onFileSelect($event)"
                                [class.error]="addEleForm.get('el1Data.syllabus')?.hasError('required') && (addEleForm.get('el1Data.syllabus')?.dirty || addEleForm.get('el1Data.syllabus')?.touched || isFormSubmitted)">
                        </div>
                    </div>

                    <hr>

                    <!-- Formgroup for el2Data on addEleForm -->
                    <div class="form-group pb-3" formGroupName="el2Data">
                        <h5 style="margin-top: 10px;"> <strong> For Business Analytics Specialization Track: </strong>
                        </h5>
                        <label for="el-title2">Title</label>
                        <input type="text" formControlName="title" class="form-control" id="el-title2"
                            placeholder="Input Title"
                            [class.invalid]="addEleForm.get('el2Data.title')?.hasError('required') && (addEleForm.get('el2Data.title')?.dirty || addEleForm.get('el2Data.title')?.touched || isFormSubmitted)">
                        <div class="error"
                            *ngIf="addEleForm.get('el2Data.title')?.hasError('required') && (addEleForm.get('el2Data.title')?.dirty || addEleForm.get('el2Data.title')?.touched || isFormSubmitted)">
                            This field is required.
                        </div>

                        <div class="my-2">
                            <label for="el-syllabus2">Sylllabus</label> <br>
                            <input type="File" formControlName="syllabus" id="el-syllabus2" name="el-syllabus2"
                                class="form-control" accept=".pdf" (change)="onFileSelect($event)"
                                [class.error]="addEleForm.get('el2Data.syllabus')?.hasError('required') && (addEleForm.get('el2Data.syllabus')?.dirty || addEleForm.get('el2Data.syllabus')?.touched || isFormSubmitted)">
                        </div>
                    </div>

                    <hr>

                    <!-- Formgroup for el3Data on addEleForm -->
                    <div class="form-group pb-3" formGroupName="el3Data">
                        <h5 style="margin-top: 10px;"> <strong>For Web and Mobile Development Specialization
                                Track:</strong> </h5>
                        <label for="el-title3">Title</label>
                        <input type="text" formControlName="title" class="form-control" id="el-title3"
                            placeholder="Input Title"
                            [class.invalid]="addEleForm.get('el3Data.title')?.hasError('required') && (addEleForm.get('el3Data.title')?.dirty || addEleForm.get('el3Data.title')?.touched || isFormSubmitted)">
                        <div class="error"
                            *ngIf="addEleForm.get('el3Data.title')?.hasError('required') && (addEleForm.get('el3Data.title')?.dirty || addEleForm.get('el3Data.title')?.touched || isFormSubmitted)">
                            This field is required.
                        </div>

                        <div class="my-2">
                            <label for="el-syllabus3">Syllabus</label> <br>
                            <input type="File" formControlName="syllabus" id="el-syllabus3" name="el-syllabus3"
                                class="form-control" accept=".pdf" (change)="onFileSelect($event)"
                                [class.error]="addEleForm.get('el3Data.syllabus')?.hasError('required') && (addEleForm.get('el3Data.syllabus')?.dirty || addEleForm.get('el3Data.syllabus')?.touched || isFormSubmitted)">
                        </div>
                    </div>

                    <div class="d-flex justify-content-end" style="margin: 5px 0;">
                        <button class="btn btn-primary">Add</button>
                    </div>
                </form>
            </div>


        </div>
    </div>
</div>



<!-- <div class="container"> </div> -->
<!-- NOTE: Do not apply design. Commented for back-up usage. -->
<!-- Default display of Elective Subject -->
<!-- Issue: Confusing display of Elective Subject -->
<!-- <table class="table">
        <thead>
            <tr>
                <th>Subject</th>
                <th>Track</th>
                <th>Title</th>
                <th>Syllabus</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let elective of electives">
                <td> {{ elective.title }} </td>
                <td> {{ elective.track}} </td>
                <td> {{ elective.elective_title }} </td>
                <td> {{ elective.elective_syllabus }} </td>
            </tr>
        </tbody>
    </table> -->