<app-sidenav></app-sidenav>

<div class="mainContent">

  <h1 style="padding: 15px 32px; height: 8%;"> Activation Confirmation </h1>
  <div *ngIf="id">
    <div class="lowerMainContent">
      <div class="p-5">
        <form [formGroup]="activateUserForm" (ngSubmit)="activateUser()">
          <div class="alert alert-danger">
            <h5 class="text-black">Are you sure you want to activate Account ID:{{id}}?</h5>
            <input type="hidden" formControlName="userid" class="form-control" id="id">
          </div>
          <div style="display: flex; justify-content: flex-end;">
            <a routerLink="/account" class="btn btn-primary mx-2">Cancel</a>
            <button class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>