.logoImg {
  margin-right: 3px;
  margin-bottom: 3px;
  width: 15px;
  height: 15px;
}

input[type=radio] {
  border: 0px;
  width: 4.5%;
  height: 1.1em;
  accent-color: #182850;
}

.radioLbl{
  padding-top: 5px;
}

.invalid {
    border: solid 1px #ee404c;
  }