<div class="container">
    <h1> {{ tracks[electiveTrack] }} </h1>
    <form [formGroup]="editEleForm" (ngSubmit)="editSubject(editEleForm)">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" formControlName="title" id="title"
            [class.invalid]="editEleForm.get('title')?.hasError('required') && (editEleForm.get('title')?.dirty || editEleForm.get('title')?.touched || isFormSubmitted)">
            <div class="error"
                *ngIf="editEleForm.get('title')?.hasError('required') && (editEleForm.get('title')?.dirty || editEleForm.get('title')?.touched || isFormSubmitted)">
                This field is required.
            </div>
        </div>

        <div class="form-group pb-3">
            <label for="syllabus" style="margin-bottom: 5px;">Upload New Syllabus File:</label> <br>
            <input type="File" formControlName="syllabus" name="syllabus" accept=".pdf" (change)="onFileSelect($event)"
            [class.error]="editEleForm.get('syllabus')?.hasError('required') && (editEleForm.get('syllabus')?.dirty || editEleForm.get('syllabus')?.touched || isFormSubmitted)">
        </div>
        <div>
            <button>Edit</button>
        </div>
    </form>
</div>