<div class="container">
    <h1>Subjects</h1>

    <form [formGroup]="addSubForm" (ngSubmit)="addSubject(addSubForm)">
        <div class="form-group">
            <label for="courseCode">Course Code</label>
            <input type="text" formControlName="courseCode" class="form-control" placeholder="Course Code"
                [class.invalid]="addSubForm.get('courseCode')?.hasError('required') && (addSubForm.get('courseCode')?.dirty || addSubForm.get('courseCode')?.touched || isFormSubmitted)">
        </div>

        <div *ngIf="addSubForm.get('courseCode')?.hasError('required') && (addSubForm.get('courseCode')?.dirty || addSubForm.get('courseCode')?.touched || isFormSubmitted)"
            class="error">
            This field is required.
        </div>

        <div class="form-group">
            <label for="title">Subject Title</label>
            <input type="text" formControlName="title" class="form-control" placeholder="Subject Title"
                [class.invalid]="addSubForm.get('title')?.hasError('required') && (addSubForm.get('title')?.dirty || addSubForm.get('title')?.touched || isFormSubmitted)">
        </div>

        <div *ngIf="addSubForm.get('title')?.hasError('required') && (addSubForm.get('title')?.dirty || addSubForm.get('title')?.touched || isFormSubmitted)"
            class="error">
            This field is required.
        </div>

        <div class="form-group">
            <input type="File" formControlName="syllabus" name="syllabus" accept=".pdf" (change)="onFileSelect($event)"
            [class.file]="addSubForm.get('syllabus')?.hasError('required') && (isFormSubmitted)">
        </div>
        <div class="success" *ngIf="isSuccess">
            Subject is successfully added.
        </div>
        <button class="btn btn-primary">Add Subject</button>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>Course Code</th>
                <th>Title</th>
                <th>Syllabus</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let subject of subjects">
                <td>{{ subject.course_code }}</td>
                <td>{{ subject.title }}</td>
                <td>{{ subject.syllabus }}</td>
                <td>
                    <button routerLink="/subject-edit/{{subject.id}}">
                        Edit
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>