<div class="container">
    <h1>Profile</h1>
    <h3> {{ "Logged in User: " + userName }}</h3>

    <form [formGroup]="editProfileForm" (ngSubmit)="editProfile(editProfileForm)">
        <input type="hidden" formControlName="id" class="form-control" id="id">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" formControlName="name" class="form-control" placeholder="Name" id="name"
                [class.invalid]="editProfileForm.get('name')?.invalid ">
        </div>

        <div class="error" *ngIf="editProfileForm.get('name')?.invalid ">
            This field is required.
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" formControlName="email" class="form-control" placeholder="Email" id="email"
                [class.invalid]="editProfileForm.get('email')?.hasError('email') || editProfileForm.get('email')?.hasError('required')">
        </div>

        <div class="error" *ngIf="editProfileForm.get('email')?.hasError('required') ">
            This field is required.
        </div>

        <div class="error" *ngIf="editProfileForm.get('email')?.hasError('email') ">
            Invalid email format
        </div>

        <h3>Change Password</h3>
        <div class="form-group">
            <label for="newPassword">New Password</label>
            <input type="password" formControlName="newPassword" class="form-control" placeholder="New Password"
                id="New Password"
                [class.invalid]="editProfileForm.get('newPassword')?.hasError('required') && (editProfileForm.get('newPassword')?.dirty || editProfileForm.get('newPassword')?.touched || isFormSubmitted)">
        </div>

        <div *ngIf="editProfileForm.get('newPassword')?.hasError('required') && (editProfileForm.get('newPassword')?.dirty || editProfileForm.get('newPassword')?.touched || isFormSubmitted)"
                                class="error">
                                This field is required.
                            </div>

        <div class="form-group">
            <label for="conPassword">Confirm Password</label>
            <input type="password" formControlName="conPassword" class="form-control" placeholder="Confirm Password"
                id="conPassword"
                [class.invalid]="editProfileForm.get('conPassword')?.hasError('required') && (editProfileForm.get('conPassword')?.dirty || editProfileForm.get('conPassword')?.touched || isFormSubmitted)">
        </div>

        <div *ngIf="editProfileForm.get('conPassword')?.hasError('required') && (editProfileForm.get('conPassword')?.dirty || editProfileForm.get('conPassword')?.touched || isFormSubmitted)"
                                class="error">
                                This field is required.
                            </div>

        <div *ngIf="!isMatching && !isSuccess" class="error">
            The passwords entered do not match!
        </div>

        <div class="success" *ngIf="isSuccess">
            Profile is successfully changed.
        </div>
        <button class="btn btn-primary">Submit</button>
    </form>

</div>