.error {
  color: #ee404c;
  font-size: small;
}

.invalid {
  border: 1px solid #ee404c;
}

.success {
  font: small;
  color: white;
  background-color: rgb(4, 182, 4);
  width: fit-content;
  padding: 0 10px 0 10px;
  margin-top: 10px;
}
