<app-sidenav></app-sidenav>

<div class="mainContent">
   <h1 style="padding: 15px 32px; height: 8vh;"> Reports </h1>
   <div class="lowerMainContent">
      <div class="mx-5 py-3">
         <div class="d-flex justify-content-start" style="margin: 10px 0;">
            <button (click)="onGoBack()" type="button" class="btn p-0">
               <img class="logoImg " src="./assets/images/icon_back_btn.png" alt="BACK BUTTON">
               <strong> GO BACK </strong>
            </button>
         </div>
         <button routerLink="/feedback/print/{{curriculumID}}" class="btn btn-primary mx-2">PDF</button>
         <div *ngFor="let data of curriculumData">
            <div class="row card border-0 m-2">
               <div class="card-body">
                  <h3 style="font-family: 'Outfit';"> Curriculum Version:&nbsp; <span class="text-muted"> <strong> {{
                           data.version }} - {{data.version_id}} </strong> </span> </h3>
                  <h3 style="font-family: 'Outfit';"> Department:&nbsp; <span class="text-muted"> <strong>{{
                           data.department }} </strong> </span> </h3>
               </div>
            </div>

            <button (click)="viewCurriculum()" class="btn btn-primary mx-2">
                View Curriculum
            </button>
            <button routerLink="/feedback/print/{{ curriculumID }}/{{curriculumVer}}" class="btn btn-primary mx-2">PDF</button>

            <div *ngFor="let data of curriculumData">
                <div class="row card border-0 m-2">
                    <div class="card-body">
                        <h4 style="font-family: 'Outfit'">
                            Curriculum Version:&nbsp;
                            <span class="text-muted">
                                <strong> {{ data.version }} </strong>
                            </span>
                        </h4>
                        <h4 style="font-family: 'Outfit'">
                            Department:&nbsp;
                            <span class="text-muted">
                                <strong>{{ data.department }} </strong>
                            </span>
                        </h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="row card border-0 m-2">
                            <div class="card-body">
                                <div class="row">
                                    <div class="d-flex justify-content-center col-2">
                                        <img
                                            src="../../assets/images/icon_user_dashboard.png"
                                            style="width: 60px; height: 60px"
                                            alt="DASHBOARD"
                                        />
                                    </div>
                                    <div class="col-10">
                                        <h6 class="card-title">
                                            <strong>
                                                No. of Stakeholder Accounts:
                                            </strong>
                                        </h6>
                                        <h3
                                            class="card-subtitle mb-2"
                                            style="font-weight: bolder"
                                        >
                                            {{ stakeholderNum }}
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="row card border-0 m-2">
                     <div class="card-body">
                        <div class="row">
                           <div class="d-flex justify-content-center col-2">
                              <img src="./assets/images/icon_paper.png" style="width:60px; height:60px;"
                                 alt="BASE SUBJECT">
                           </div>
                           <div class="col-10">
                              <h6 class="card-title"> <strong> No. of Submitted Feedbacks: </strong> </h6>
                              <h3 class="card-subtitle mb-2" style="font-weight:bolder; color: #222222">{{
                                 feedbackNum }} </h3>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="row card border-0 m-2">
                     <div class="card-body">
                        <div class="row">
                           <div class="d-flex justify-content-center col-2">
                              <img src="./assets/images/icon_status.png" style="width:60px; height:60px;"
                                 alt="BASE SUBJECT">
                           </div>
                           <div class="col-10">
                              <h6 class="card-title"> <strong> Status: </strong> </h6>
                              <h3 *ngIf="data.curr_status === 'approved'" class="card-subtitle mb-2 activeStatus"
                                 style="font-weight:bolder;">
                                 {{data.curr_status | titlecase }} </h3>
                              <h3 *ngIf="data.curr_status === 'pending'" class="card-subtitle mb-2 inactiveStatus"
                                 style="font-weight:bolder;">
                                 {{data.curr_status | titlecase }} </h3>
                              <h3 *ngIf="data.curr_status === 'returned'" class="card-subtitle mb-2 returnedStatus"
                                 style="font-weight:bolder;">
                                 {{data.curr_status | titlecase }} </h3>
                           </div>
                        </div>
                    </div>
                </div>

                <div class="row card border-0 m-2">
                    <div class="card-body">
                        <h4 class="my-0" style="font-family: 'Outfit'">
                            LIST OF FEEDBACKS:
                        </h4>
                    </div>
                </div>

                <div *ngIf="!feedbackNum">
                    <div class="row card border-0 m-2">
                        <div class="card-body">
                            <!-- Display the Feedbacks using a div instead of table -->
                            <div class="p-3 text-center">
                                <h4 class="text-muted">
                                    <strong>
                                        <em> NO SUBMITTED FEEDBACK</em>
                                    </strong>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngIf="feedbackNum">
                    <div *ngFor="let feedback of feedbacks" class="row card border-0 m-2">
                        <div class="card-body">
                            <!-- Display the Feedbacks using a div instead of table -->
                            <div class="p-3">
                                <h4>
                                    <strong>Name:&nbsp;</strong>
                                    {{ feedback.name }}
                                </h4>
                                <p>
                                    <strong>Email:&nbsp;</strong>
                                    {{ feedback.email }}
                                </p>

                                <p *ngIf="feedback.is_approved == 1">
                                    <strong>Status:&nbsp;</strong>
                                    <span class="activeStatus"> Approved </span>
                                </p>
                                <p *ngIf="feedback.is_approved == 0">
                                    <strong>Status:&nbsp;</strong>
                                    <span class="returnedStatus"> Returned </span>
                                </p>

                                <p *ngIf="feedback.comment !== ''">
                                    <span><strong>Comments:&nbsp;</strong></span>
                                    {{ feedback.comment }}
                                </p>
                                <p *ngIf="feedback.comment == ''">
                                    <span><strong>Comments:&nbsp;</strong></span>
                                    <em> No Comments Submitted </em>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container d-none">
        <h1>Feedbacks</h1>

        <div *ngFor="let data of curriculumData">
            <h2>Curriculum Version: {{ data.version }}</h2>
            <h2>Department: {{ data.department }}</h2>

            <h3>Report</h3>
            <p>No. of Stakeholder Accounts: {{ stakeholderNum }}</p>
            <p>No. of Submitted Feedbacks: {{ feedbackNum }}</p>
            <p>Status: {{ data.curr_status | titlecase }}</p>
        </div>

        <!-- Display the Feedbacks using a div instead of table -->
        <div *ngFor="let feedback of feedbacks" style="border: 1px solid black">
            <h3>{{ feedback.name }}</h3>
            <p>{{ feedback.email }}</p>

            <p *ngIf="feedback.is_approved == 1">Status: Approved</p>
            <p *ngIf="feedback.is_approved == 0">Status: Returned</p>

            <p>Comments: {{ feedback.comment }}</p>
        </div>
    </div>
</div>
