.logoImg {
    margin-right: 3px;
    margin-bottom: 3px;
    width: 15px;
    height: 15px;
}

.activeStatus {
    color: #31a24c !important;
}

.inactiveStatus {
    color: #686868 !important;
}

.returnedStatus {
    color: #ee404c !important;
}

.mainPrintComponent {
    margin-left: 0%;
}

@media print {
    @page {
        margin: 0.7in;
    }
}

.printModule,
.card-body-white {
    background-color: #ffffff !important;
}

.printModule>h1 {
    color: #182850 !important;
}

.card-body-white >h4,
.card-body-white >.row>.col-10>h3,
.card-body-white >.row>.col-10>h6,
.card-body-white >.p-3,
.card-body-white > p{
    color: #212121;
}