<app-sidenav></app-sidenav>

<div class="mainContent">

  <h1 style="padding: 15px 32px; height: 8vh;"> Dashboard </h1>

  <div class="lowerMainContent">
    <div class="container-fluid">
      <div class="row" style="padding-top: 30px;">
        <div class="col-md-6">
          <div class="row card border-0 m-2">
            <div class="card-body">
              <div class="row">
                <div class="d-flex justify-content-center col-2">
                  <img src="../../assets/images/icon_paper.png" style="width:60px; height:60px;" alt="REVISIONS">
                </div>
                <div class="col-10">
                  <h4 class="card-title" style="font-weight:700; color: #222222">No. of Users</h4>
                  <h6 class="card-subtitle mb-2"> {{ count.users }}</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row card border-0 m-2">
            <div class="card-body">
              <div class="row">
                <div class="d-flex justify-content-center col-2">
                  <img src="../../assets/images/icon_paper.png" style="width:60px; height:60px;" alt="REVISIONS">
                </div>
                <div class="col-10">
                  <h4 class="card-title" style="font-weight:700; color: #222222">No. of Subjects</h4>
                  <h6 class="card-subtitle mb-2"> {{ count.subject }}</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="row card border-0 m-2">
            <div class="card-body">
              <div class="row">
                <div class="d-flex justify-content-center col-2">
                  <img src="../../assets/images/icon_paper.png" style="width:60px; height:60px;" alt="REVISIONS">
                </div>
                <div class="col-10">
                  <h4 class="card-title" style="font-weight:700; color: #222222">No. of Elective Subjects</h4>
                  <h6 class="card-subtitle mb-2"> {{ count.elective }}</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row card border-0 m-2">
            <div class="card-body">
              <div class="row">
                <div class="d-flex justify-content-center col-2">
                  <img src="../../assets/images/icon_paper.png" style="width:60px; height:60px;" alt="REVISIONS">
                </div>
                <div class="col-10">
                  <h4 class="card-title" style="font-weight:700; color: #222222">No. of Uploaded Files</h4>
                  <h6 class="card-subtitle mb-2"> {{ noFileUploaded }}</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <h1>Dashboard</h1>
        <div *ngIf="userType !== 'stakeholder'">
          <a routerLink="/subject">Subjects</a>
        </div>
        <div *ngIf="userType === 'admin'">
          <a routerLink="/account">Account Management</a>
        </div>
        <div>
          <a routerLink="/vote">Curriculum Feedback</a>
        </div>
      </div>
    </div>

  </div>
</div>
