<app-sidenav></app-sidenav>

<div class="mainContent">

  <h1 style="padding: 15px 32px; height: 8vh;"> Dashboard </h1>

  <div class="lowerMainContent">
    <div class="container-fluid">
      <div class="row" style="padding-top: 30px;">
        <div class="col-md-6">
          <div class="row card border-0 m-2">
            <div class="card-body">
              <div class="row">
                <div class="d-flex justify-content-center col-2">
                  <img src="../../assets/images/icon_user_dashboard.png" style="width:60px; height:60px;" alt="DASHBOARD">
                </div>
                <div class="col-10">
                  <h6 class="card-title"> <strong> Users </strong> </h6>
                  <h3 class="card-subtitle mb-2" style="font-weight:bolder; color: #222222">{{ count.users }} </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row card border-0 m-2">
            <div class="card-body">
              <div class="row">
                <div class="d-flex justify-content-center col-2">
                  <img src="../../assets/images/icon_paper.png" style="width:60px; height:60px;" alt="BASE SUBJECT">
                </div>
                <div class="col-10">
                  <h6 class="card-title"> <strong> Base Subjects </strong> </h6>
                  <h3 class="card-subtitle mb-2" style="font-weight:bolder; color: #222222">{{ count.subject }} </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="row card border-0 m-2">
            <div class="card-body">
              <div class="row">
                <div class="d-flex justify-content-center col-2">
                  <img src="../../assets/images/icon_elective.png" style="width:60px; height:60px;" alt="ELECTIVE SUBJECT">
                </div>
                <div class="col-10">
                  <h6 class="card-title"> <strong> Elective Subjects </strong> </h6>
                  <h3 class="card-subtitle mb-2"  style="font-weight:bolder; color: #222222"> {{ count.elective }}</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row card border-0 m-2">
            <div class="card-body">
              <div class="row">
                <div class="d-flex justify-content-center col-2">
                  <img src="../../assets/images/icon_uploads.png" style="width:60px; height:60px;" alt="UPLOADED FILES">
                </div>
                <div class="col-10">
                  <h6 class="card-title"> <strong> Uploaded Files </strong> </h6>
                  <h3 class="card-subtitle mb-2" style="font-weight:bolder; color: #222222"> {{ noFileUploaded }}</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="row card border-0 m-2">
            <div class="card-body">
              <div class="row">
                <div class="d-flex justify-content-center col-2">
                  <img src="../../assets/images/icon_paper.png" style="width:60px; height:60px;" alt="X">
                </div>
                <div class="col-10">
                  <h6 class="card-title"> <strong> Vacant Data </strong> </h6>
                  <h3 class="card-subtitle mb-2"  style="font-weight:bolder; color: #222222"> xx </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row card border-0 m-2">
            <div class="card-body">
              <div class="row">
                <div class="d-flex justify-content-center col-2">
                  <img src="../../assets/images/icon_total_sub.png" style="width:60px; height:60px;" alt="TOTAL SUBJECTS">
                </div>
                <div class="col-10">
                  <h6 class="card-title"> <strong> Total Subjects </strong> </h6>
                  <h3 class="card-subtitle mb-2"  style="font-weight:bolder; color: #222222">{{subjectTotal}}</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <h1>Dashboard</h1>
        <div *ngIf="userType !== 'stakeholder'">
          <a routerLink="/subject">Subjects</a>
        </div>
        <div *ngIf="userType === 'admin'">
          <a routerLink="/account">Account Management</a>
        </div>
        <div>
          <a routerLink="/vote">Curriculum Feedback</a>
        </div>
        <div>
          <a routerLink="/curriculum">Curriculums</a>
        </div>
      </div>
    </div>

  </div>
</div>
