.forgotPassBg {
    background-image: url("../../assets/images/forgotPassBg.png");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logoImg{
    margin-right: 3px;
    width:15px;
    height:15px;
}
.class {
    color: #ee404c;
}

.error {
    color: #ee404c;
    margin: 10px 0 10px 0;
    font-size: small;
}

.invalid {
    border: 1px solid #ee404c;
}

.success {
    font: small;
    color: white;
    background-color: rgb(4, 182, 4);
    width: fit-content;
    padding: 0 10px 0 10px;
    margin-top: 10px;
}
