<div class="forgotPassBg" style="background-image: url('{{assetsUrl}}/images/forgotPassBg_rev.png');">
  <div class="d-flex justify-content-center p-5">
    <div class="container-fluid mt-5">
      <div class="row d-flex justify-content-center mt-3">
        <div class="col-md-6 bg-white">
          <div class="p-4">

            <button class="btn p-0 my-2 text-muted" routerLink="/login">
              <img class="logoImg " src="./assets/images/icon_back_btn.png" alt="BACK BUTTON">
              Back to Login
            </button>

            <h1>Forgot Password</h1>
            <form [formGroup]="forgotForm" (ngSubmit)="resetPassword(forgotForm)">
              <div class="form-group mt-3 mb-3">
                <label for="email">Email</label>
                <input type="text" formControlName="email" class="form-control" placeholder="Email" id="email"
                  [class.invalid]="email?.hasError('required') && (email?.dirty || email?.touched || isSubmitted) || (email?.hasError('email') && isSubmitted)">
              </div>

              <div class="error" *ngIf="email?.hasError('required') && (email?.dirty || email?.touched || isSubmitted)">
                This field is required.
              </div>

              <div class="error" *ngIf="email?.hasError('email') && email?.dirty && isSubmitted">
                Invalid email format
              </div>

              <div *ngIf="isSuccess && !email?.hasError('required') && !email?.hasError('email')" class="success">
                The password is successfully changed
              </div>

              <button class="btn btn-primary mt-2 mb-3 w-100">Reset Password</button>


            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
