<div class="container">
    <h1>Forgot Password</h1>
    <form [formGroup]="forgotForm" (ngSubmit)="resetPassword(forgotForm)">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" formControlName="email" class="form-control" placeholder="Email" id="email">
        </div>

        <div class="form-group">
            <label for="newPassword">New Password</label>
            <input type="password" formControlName="newPassword" class="form-control" placeholder="New Password" id="newPassword" >
        </div>

        <div class="form-group">
            <label for="conPassword">Confirm Password</label>
            <input type="password" formControlName="conPassword" class="form-control" placeholder="Confirm Password" id="conPassword" >
        </div>

        <button class="btn btn-primary">Reset Password</button>
        <button class="btn" routerLink="/login">Back to Login</button>

        <div *ngIf="!isMatching" class="error">
            Passwords are not matching.
        </div>
    </form>
</div>