$theme-colors: (
    "primary": #182850,
    "secondary": #212121,
    "info": #182850,
    "danger": #ee404c,
    "dark": #182850,
);

//THEMES
:root{
    --bg-color: #eef1f2;
    --bg-foreground:#ffffff;
    --text-color: #212121;
    --primary: #182850;
    --input-label: #ffffff;
    --sub-category: #444444;
    --add-sub-curr: #182850;
}

[data-theme="dark"]{
    --bg-color: #18191a;
    --bg-foreground:#242526;
    --text-color: #ffffff;
    --primary: #ffffff;
    --input-label: #3a3b3c;
    --sub-category: #ffffff;
    --add-sub-curr: #ffaa28;
}

//COMMON TYPOGRAPHY 

* {
    font-family: 'Lato';
}

h1,
h2,
.customized_header {
    font-family: 'Outfit';
}

h1 {
    color: var(--primary);
}

h2 {
    color: #ffaa28;
}

h4,h5,h6,p{
    color: var(--text-color);
}

.error {
    color: map-get($theme-colors, "danger");
}

.loginContainer{
    background-color: var(--bg-foreground);
}

.logoName{
    color: var(--add-sub-curr); 
}

.mainContent {  
    margin-left: 200px;
    background-color: var(--bg-foreground);
}

.lowerMainContent {
    background-color: var(--bg-color);
    min-height: 92vh;
    height: 100%;
}

.mainTable,
.addForm {
    background-color: var(--bg-foreground);
}

.subCategory {
    text-decoration: none;
    color: var(--sub-category);
}

.subCategoryTitle {
    font-family: 'Outfit';
}

.subCategoryActive,
.subCategory:hover {
    color: #ffaa28;
}

@media screen and (max-width: 1250px) {
    .mainContent {  
        margin-left: 80px;
    }
}

//ACCOUNTS FILTER
.top-search {
    margin-bottom: 100px;
}

.dataTables_filter {
    width: max-content;
}

.dataTables_filter>label {
    font-weight: bolder;
}

.dataTables_filter>label>input {
    width: 30vh;
    padding: 0.7vh;
    margin-left: 1.7vh;

}

.top-left {
    margin-bottom: 15px;
}

.top-right {
    justify-content: right;
    margin-bottom: 15px;
}

.dataTables_info {
    font-weight: bold;
    margin-bottom: 10px;
}

//PAGINATION
.bottom>.dataTables_paginate>a,
.bottom>.dataTables_paginate>span>a {
    color: var(--text-color);
    float: left;
    transition: background-color .3s;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
}

.bottom>.dataTables_paginate>span>.current,
.bottom>.dataTables_paginate>a:hover:not(.active),
.bottom>.dataTables_paginate>span>a:hover:not(.active) {
    background-color: map-get($theme-colors, "primary");
    color: white;
}

.dataTables_info{
    color: var(--text-color); 
}

//CARD AND CARD BODIES
.card-body{
    background-color: var(--bg-foreground);
    color: var(--text-color);
}

.card-subtitle{
    color: var(--text-color);
}

//TABLES
th, td{
    color: var(--text-color);    
}

//DATA TABLES
.dataTables_filter{
    color: var(--text-color); 
}

//LABELS
label{
    color: var(--text-color); 
}

input{
    color: var(--text-color); 
    background-color: var(--input-label);
}

//FORM CONTROLS
.form-control{
    color: var(--text-color) !important; 
    background-color: var(--input-label) !important;
}

//ADD SUBJECT CURRICULUM BUTTON IN CURRICULUM PAGE
.addSub{
    color: var(--add-sub-curr);
    font-weight: bold;
}
  
.addSub:hover{
    text-decoration: underline;
    font-weight: bolder;
}

//EXTRA CLASSES THAT NEEDS TO BE ADJUSTED TO THE THEME
.go_back, 
.fPass{
    color: var(--text-color);
};


//DROPDOWN ON PROFILE ICON
.sidebar-dropdown{
    background-color: var(--bg-foreground) !important;
}

.dropdown-label{
    color: var(--text-color) !important; 
}

.dropdown-item:hover{
    background-color: var(--bg-color) !important; 
}


//@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Outfit:wght@700&display=swap');
@import "../node_modules/bootstrap/scss/bootstrap.scss";