.topNav{
    height: 8vh;
}

.content{
    margin-left: 25vh;
}

.mainContent{
    background-color: #eef1f2;
    height: 92vh;
}

.mainTable{
    background-color: #ffffff;
}

.error {
    color: #ee404c;
}

.invalid {
    border: 1px solid red;
}

.success {
    font: small;
    color: white;
    background-color: rgb(4, 182, 4);
    width: fit-content;
    padding: 0 10px 0 10px;
    margin-top: 10px;
}