<app-sidenav></app-sidenav>
<div *ngIf="id">
<div class="container" style="margin-top: 250px;">
    <form [formGroup]="deactivateUserForm" (ngSubmit)="deactivateUser()">
        <div class="row mt-5">
            <div class="col-md-6 offset-md-3">
                <div class="border p-4 bg-white">
                    <h3>Deactivation Confirmation</h3>
                    <hr>
                    <div class="alert alert-danger">
                        <h5 >Are you sure you want to deactivate Account ID:{{id}}?</h5>
                        <input type="hidden" formControlName="userid" class="form-control" id="id">
                        <input type="hidden" formControlName="isActive" class="form-control" id="isActive">
                    </div>
                    <div style="display: flex; justify-content: flex-end;">
                        <button class="btn btn-primary">Submit</button>
                        <a routerLink="/account" class="btn btn-primary">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
