<app-sidenav></app-sidenav>

<div class="mainContent">
    <h1 style="padding: 15px 32px; height: 8%;"> Settings </h1>

    <div class="lowerMainContent">
        <div class="container-fluid">
            <div class="row" style="padding-top: 30px;">
              <div class="col-md-6">
                <div class="row card border-0 m-2">
                  <div class="card-body">
                    <div class="row">
                      <div class="d-flex justify-content-center col-2">
                        <img src="../../assets/images/icon_theme.png" style="width:60px; height:60px;" alt="TOGGLE DARK MODE">
                      </div>
                      <div class="col-10">
                        <h6 class="card-title"> <strong> Enable Dark Mode: </strong> </h6>
                        <button (click)="toggleTheme()" class="btn btn-primary btn-sm" id="dark-mode-toggle">Toggle</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 d-none">
                <div class="row card border-0 m-2">
                  <div class="card-body">
                    <div class="row">
                      <div class="d-flex justify-content-center col-2">
                        <img src="../../assets/images/icon_paper.png" style="width:60px; height:60px;" alt="BASE SUBJECT">
                      </div>
                      <div class="col-10">
                        <h6 class="card-title"> <strong> xxxx </strong> </h6>
                        <h3 class="card-subtitle mb-2" style="font-weight:bolder;"> </h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
     
          </div>

    </div>



</div>
